#top-image
  #title
    Team Education
  #mentors
    .mentor
      %a(href='#')
        .mentor-image.mentor-wobble
        .mentor-name
          Daniël W. Crompton
      .mentor-links
    .mentor
      %a(href='#')
        .mentor-image.mentor-wobble
        .mentor-name
          Your name here
      .mentor-links
    .mentor
      %a(href='#')
        .mentor-image.mentor-wobble
        .mentor-name
          Robert Skiff
    .mentor
      %a(href='#')
        .mentor-image.mentor-wobble
        .mentor-name
          Dan Kirk
      .mentor-links
    .mentor
      %a(href='#')
        .mentor-image.mentor-wobble
        .mentor-name
          Sujin Headrick
      .mentor-links
  #tags
    %a.tag(href='#') Fintech
    %a.tag(href='#') Investor
    %a.tag(href='#') EdTech
    %a.tag(href='#') Saas
    %a.tag(href='#') Local
    %a.tag(href='#') Retail
    %a.tag(href='#') SSG
    %a.tag(href='#') SSG
    %a.tag(href='#') SSG
    %a.tag(href='#') SSG
    %a.tag(href='#') SSG
    %a.tag(href='#') SSG
    %a.tag(href='#') SSG
    %a.tag(href='#') SSG
    %a.tag(href='#') SSG
  #description
  #worked-with
    .ww#ww1
    .ww#ww2
    .ww#ww3
    .ww#ww4
    .ww#ww5
    .ww#ww6
    .ww#ww7
    .ww#ww8
  %button#apply
    .text Apply
#page
