
%p
  %b We know education can be expensive so at Oplerno we have created an incentive program.
  If you recruit a student to take a course, we will offer you and the person you invite a $50 credit each. You can accumulate as many of these credits as possible and use them to pay for your classes. These credits will not be exchanged for cash, but rather education. There are a few rules.
%p
  %ol
    %li Make sure to behave in an ethical fashion. Don’t misrepresent the fact that Oplerno offers courses for transfer credit that have been approved by the Board of Education in the State of Vermont. We do not guarantee that our courses will receive recognition from another institution even though we work hard to make it so. Most importantly, make sure that the course matches the needs of the student your recommending it to. Life is short and all of us need to look out for the financial and educational well being of each other. Don’t overpromise or oversell the benefits of a class. Be honest! In the long run it is the only way to be successful.
    %li If you are an US citizen or living in the United States you are not eligible to participate in the recruitment of anyone in the US. Section 487 (a)(20) of the Higher Education Act (HEA) prohibits us from offering you any kind of remuneration for the recruitment of people living in the United States. However, you can recruit people living outside the United States. “These rules do not apply to the recruitment of foreign students residing in foreign countries who are not eligible to receive Federal student assistance.” Sorry but the rules are the rules. In other words, you can recruit people from outside the US and receive a credit but never a US citizen even if they are living “overseas."
    %li The person you invite must finish at least one third of a 12 week course for you both to earn the credit.
