%tr
  %td(width='260' valign='top')
  %td(width='340')
    %p #{ t('contact_teacher.mail.to', to: @message[:email] ) }
%tr
  %td(width='260' valign='top')
  %td(width='340')
    %p
      = t('contact_teacher.mail.from_student')
%tr
  %td(width='260' valign='top')
  %td(width='340')
    %p
      %i #{ t('contact_teacher.mail.from', from: @message[:from]) }
      %i #{@message[:question]}
