---
http_interactions:
- request:
    method: post
    uri: https://api-3t.sandbox.paypal.com/2.0/
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><env:Header><RequesterCredentials xmlns="urn:ebay:api:PayPalAPI" xmlns:n1="urn:ebay:apis:eBLBaseComponents" env:mustUnderstand="0"><n1:Credentials><n1:Username>webhat-facilitator_api1.xs4all.nl</n1:Username><n1:Password>1388752803</n1:Password><n1:Subject/><n1:Signature>AQO2.Mzxs1Gxag0fBroaEjaDjugwAAcHoSETDp3g2b8v1eygco3Mgpbn</n1:Signature></n1:Credentials></RequesterCredentials></env:Header><env:Body><GetExpressCheckoutDetailsReq xmlns="urn:ebay:api:PayPalAPI">
          <GetExpressCheckoutDetailsRequest xmlns:n2="urn:ebay:apis:eBLBaseComponents">
            <n2:Version>72</n2:Version>
            <Token>EC-2OPN7UJGFWK9OYFV</Token>
          </GetExpressCheckoutDetailsRequest>
        </GetExpressCheckoutDetailsReq>
        </env:Body></env:Envelope>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:cc="urn:ebay:apis:CoreComponentTypes" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
        xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
        xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext" xmlns:ed="urn:ebay:apis:EnhancedDataTypes"
        xmlns:ebl="urn:ebay:apis:eBLBaseComponents" xmlns:ns="urn:ebay:api:PayPalAPI"><SOAP-ENV:Header><Security
        xmlns="http://schemas.xmlsoap.org/ws/2002/12/secext" xsi:type="wsse:SecurityType"></Security><RequesterCredentials
        xmlns="urn:ebay:api:PayPalAPI" xsi:type="ebl:CustomSecurityHeaderType"><Credentials
        xmlns="urn:ebay:apis:eBLBaseComponents" xsi:type="ebl:UserIdPasswordType"><Username
        xsi:type="xs:string"></Username><Password xsi:type="xs:string"></Password><Signature
        xsi:type="xs:string"></Signature><Subject xsi:type="xs:string"></Subject></Credentials></RequesterCredentials></SOAP-ENV:Header><SOAP-ENV:Body
        id="_0"><GetExpressCheckoutDetailsResponse xmlns="urn:ebay:api:PayPalAPI"><Timestamp
        xmlns="urn:ebay:apis:eBLBaseComponents">2014-11-14T00:24:50Z</Timestamp><Ack
        xmlns="urn:ebay:apis:eBLBaseComponents">Failure</Ack><CorrelationID xmlns="urn:ebay:apis:eBLBaseComponents">949bca84320ac</CorrelationID><Errors
        xmlns="urn:ebay:apis:eBLBaseComponents" xsi:type="ebl:ErrorType"><ShortMessage
        xsi:type="xs:string">Security error</ShortMessage><LongMessage xsi:type="xs:string">Security
        header is not valid</LongMessage><ErrorCode xsi:type="xs:token">10002</ErrorCode><SeverityCode
        xmlns="urn:ebay:apis:eBLBaseComponents">Error</SeverityCode></Errors><Version
        xmlns="urn:ebay:apis:eBLBaseComponents">72</Version><Build xmlns="urn:ebay:apis:eBLBaseComponents">13630372</Build><GetExpressCheckoutDetailsResponseDetails
        xmlns="urn:ebay:apis:eBLBaseComponents" xsi:type="ebl:GetExpressCheckoutDetailsResponseDetailsType"><PayerInfo
        xsi:type="ebl:PayerInfoType"><Payer xsi:type="ebl:EmailAddressType"></Payer><PayerID
        xsi:type="ebl:UserIDType"></PayerID><PayerStatus xsi:type="ebl:PayPalUserStatusCodeType">unverified</PayerStatus><PayerName
        xsi:type="ebl:PersonNameType"><Salutation xmlns="urn:ebay:apis:eBLBaseComponents"></Salutation><FirstName
        xmlns="urn:ebay:apis:eBLBaseComponents"></FirstName><MiddleName xmlns="urn:ebay:apis:eBLBaseComponents"></MiddleName><LastName
        xmlns="urn:ebay:apis:eBLBaseComponents"></LastName><Suffix xmlns="urn:ebay:apis:eBLBaseComponents"></Suffix></PayerName><PayerBusiness
        xsi:type="xs:string"></PayerBusiness><Address xsi:type="ebl:AddressType"><Name
        xsi:type="xs:string"></Name><Street1 xsi:type="xs:string"></Street1><Street2
        xsi:type="xs:string"></Street2><CityName xsi:type="xs:string"></CityName><StateOrProvince
        xsi:type="xs:string"></StateOrProvince><CountryName></CountryName><PostalCode
        xsi:type="xs:string"></PostalCode><AddressOwner xsi:type="ebl:AddressOwnerCodeType">PayPal</AddressOwner><AddressStatus
        xsi:type="ebl:AddressStatusCodeType">None</AddressStatus></Address></PayerInfo><PaymentDetails
        xsi:type="ebl:PaymentDetailsType"><ShipToAddress xsi:type="ebl:AddressType"><Name
        xsi:type="xs:string"></Name><Street1 xsi:type="xs:string"></Street1><Street2
        xsi:type="xs:string"></Street2><CityName xsi:type="xs:string"></CityName><StateOrProvince
        xsi:type="xs:string"></StateOrProvince><CountryName></CountryName><Phone xsi:type="xs:string"></Phone><PostalCode
        xsi:type="xs:string"></PostalCode><AddressID xsi:type="xs:string"></AddressID><AddressOwner
        xsi:type="ebl:AddressOwnerCodeType">PayPal</AddressOwner><ExternalAddressID
        xsi:type="xs:string"></ExternalAddressID><AddressStatus xsi:type="ebl:AddressStatusCodeType">None</AddressStatus></ShipToAddress><SellerDetails
        xsi:type="ebl:SellerDetailsType"></SellerDetails><PaymentRequestID xsi:type="xs:string"></PaymentRequestID><OrderURL
        xsi:type="xs:string"></OrderURL><SoftDescriptor xsi:type="xs:string"></SoftDescriptor></PaymentDetails><CheckoutStatus
        xsi:type="xs:string"></CheckoutStatus><PaymentRequestInfo xsi:type="ebl:PaymentRequestInfoType"></PaymentRequestInfo></GetExpressCheckoutDetailsResponseDetails></GetExpressCheckoutDetailsResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Fri, 14 Nov 2014 00:24:50 GMT
recorded_with: VCR 2.9.3
