<div class='success alert-message col-lg-4 col-lg-offset-3'>
	<%= t('users.change_password_notice').html_safe %>
</div>
<div class='clearfix'></div>

<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user, {class: 'btn btn-danger'} %> |
<%= link_to 'Back', '/', {class: 'btn btn-danger'} %>
