<h1><%= t('login.canvas.fail') %></h1>

<div><%= t('login.canvas.fail_info') %></div>

<%= link_to 'Canvas Signin', 'http://oplerno.instructure.com/login?canvas_login=1', {:class => 'btn btn-default'} %>


