<div class='col-lg-12'><h1>Welcome to the Oplerno Marketplace</h1></div>
<div class='col-lg-6'>We are currently in open beta, this means that you can signup to become a faculty member at <a href='http://www.oplerno.com/'>Oplerno</a>.</div>
