-----BEGIN CERTIFICATE-----
MIIDXTCCAkWgAwIBAgIJAKmfK8ZnJTtTMA0GCSqGSIb3DQEBCwUAMEUxCzAJBgNV
BAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBX
aWRnaXRzIFB0eSBMdGQwHhcNMTUwODI1MTQzODQ4WhcNMTYwODI0MTQzODQ4WjBF
MQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50
ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
CgKCAQEA2GF0nIULnnc8x688nLZ2SzVIXTonXbFpF75vaUpWOcBGDF6PMkOLRp8W
1sUKrAzeNkKRCZL2JxDQl1hw34PXm9tQZ2OGvywx1inMPdxomA7iyeTHUXKuQZ3r
dlGYloaCBunIf5nwj19/+xu1EaEpdEr9g8cCECEY44+8on3yxGn3KQn8pVIvv7s3
UNAeikYcWSf/E74cw52hvOEjf27r1a/5dQY0SSTmWmGqIipAFBCEJYP+/W2vfzdC
NFUGum7pIOLuQgON44q/9xf0ZGPPSHoZiiojEfg10Qq9CXYZ2BL0gxHGzg+pArXE
IcPgN/dS/jnwmSampHIghhwRHqwbdQIDAQABo1AwTjAdBgNVHQ4EFgQUW3yQNN5a
khshxw2kyKErv/ZeYbwwHwYDVR0jBBgwFoAUW3yQNN5akhshxw2kyKErv/ZeYbww
DAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAUv1npEghlusgO8mrBziq
JbjnQtL63JBLW0+gOwnvurSJx2ktoAHLB1kj/g/9O6k8QGwcLQ2GefYwSt9n3pej
289NS6ZteOI6bvcO3Zj+LC6kc+iobfEWlnsoewkCg/PWlqiTGblH4aXnBe8ir7r2
W+MjscLUzzWqsjrMSkpICMDbh/NzH0Jq4nBLEf0qdSRhJhvRccdMuvGDgG+xnzkH
RwYgmdoQ6x7j0STPkkDfRfx0GEkygURtWD9EhhXAUk2IUg1h6/9D8BxrNJIYw3rD
SUbFEansJBG/M4Nz7LQ65GCx949w6PmgRa+AiB38GlGCC02A+AikofeAZvnd7mA2
ew==
-----END CERTIFICATE-----
