<h1><%= t('cart.mycart') %></h1>
<% @cart.courses.each do |course| %>
	<div class='col-lg-3 col-md-3 col-sm-4 col-xs-4 small'><%= render course %></div>
<% end unless @cart.courses.empty? %>
<div class="clearfix"></div>

<%= button_to 'Pay', orders_path, {:class => "btn btn-info pull-left", :action => :create, :method => :post} %>
<%= link_to 'Back', carts_path, {:class => "btn btn-info pull-right"} %>
