<h1><%= t('cart.mycart') %></h1>
<%= render @cart.courses %>
<div class="clearfix"></div>

<%= button_to 'Pay', orders_path, {:class => "btn btn-info pull-left", :action => :create, :method => :post} %>
<%= link_to 'Back', carts_path, {:class => "btn btn-info pull-right"} %>
