
%tr
  %td &nbsp;
%tr
  %td
  %td
    %h2 Thanks for signing up to our referral program

    %p
      Your invite URL is:
      %b
        %a(href="https://enroll.oplerno.com/invited/#{@invite.code unless @invite.nil?}") https://enroll.oplerno.com/invited/#{@invite.code unless @invite.nil?}
    %p
      We'd like to remind you that US Nationals should absolutely categorically NOT be recruited through this program and neither you nor the person you invite will receive any benefits of the referral program.
    %p
      %b
        You can recruit people living outside the United States.
    %p
    %p
      There are a few rules:
    %p
      %ol
        %li
          Make sure to behave in an ethical fashion.
          %b
            Don’t misrepresent the fact that Oplerno offers courses for transfer credit that have been approved by the Board of Education in the State of Vermont. We do not guarantee that our courses will receive recognition from another institution even though we work hard to make it so.
          Most importantly, make sure that the course matches the needs of the student you're recommending it to. Life is short and all of us need to look out for the financial and educational well being of each other. Don’t overpromise or oversell the benefits of a class. Be honest! In the long run it is the only way to be successful.
        %li The person you invite must finish at least one third of a 12 week course for you both to earn the credit.
    %p
      You can forward this URL to people who you think may be interested:
      %b
        %a(href="https://enroll.oplerno.com/invited/#{@invite.code unless @invite.nil?}") https://enroll.oplerno.com/invited/#{@invite.code unless @invite.nil?}

