<h2>Sign in</h2>

<div class='well'>
	<h3><%= t('login.canvas_html') %></h3>
	<% if from_canvas request %>
		<div><%= t('login.canvas_info_html', link: 'https://oplerno.instructure.com/login?canvas_login=1') %></div>
	<% end %>
</div>

<%= render 'devise/sessions/form' %>

<%= render "devise/shared/links" %>

