
%tr
  %td &nbsp;
%tr
  %td
  %td
    %h2 Thanks for signing up as a Mentor

    %p
      You can find your mentor profile here:
      %b
        %a(href="https://enroll.oplerno.com/mentors/#{@mentor.slug unless @invite.nil?}") https://enroll.oplerno.com/mentors/#{@mentor.slug unless @invite.nil?}
    %p


