
.certificate
  .certificate_block
    .certificate_block{:itemprop => "image", width: '100px', height: '100px',:style => "background-image:url('#{url_prefix request}#{certificate.montage.url(:medium)}');"}
  = certificate.name
