
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == small-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

$image-size: 250px;

@mixin avatar($reduce) {
  height: $image-size - $reduce;
  width: $image-size - $reduce;
  background-size: $image-size - $reduce;
}

input {
	-webkit-border-radius: 5px; //For Safari, etc.
	-moz-border-radius: 5px; //For Mozilla, etc.
	border-radius: 5px; //CSS3 Feature
	height: 35px;
}

.oplerno-cta, .btn-lg {
	min-height: 50px;
}

.left-inner-addon {
	position: relative;
}
.left-inner-addon input {
	padding-left: 30px;    
}
.left-inner-addon li {
	list-style-type: none;
}
.left-inner-addon i {
	position: absolute;
	padding: 10px 12px;
	pointer-events: none;
}
