
.nav>li{
   float: left;  
}
.nav-bar-browse {
  margin-top: 0;
}
.login, li a.cart {
  margin-right: 20px;
  margin-top:10px;
  width: auto;
  height: 22px;  
  color: #fff !important;
	div {
		margin-top: -10px;
	}
}
.navbar-header .cart {
  margin-right: 20px;
  height: 34px;
  margin-top: 8px;
  border: 1px;
}

