/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chardinjs
 *= require bootstrap-sass
 *= require jquery-ui
 *= require ../../../vendor/assets/stylesheets/image-picker
 *= require_tree .
 */

.btn-info .active {
    color: #fff;
}

.row form div {
    margin-bottom: 10px;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.course_image {
  -webkit-transform: translateZ(0.00001px);
}

.well > .well {
	margin-bottom:0px;
}
