$block: 100px;
@mixin cert_block($size) {
	height: $size;
	width: $size;
	background-size:auto $size;
}
.certificate_block {
	display: inline;
	@include cert_block($block * 2)
}
.certificate_image {
	@include cert_block($block)
}
