// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course_name {
	min-height: 40px;
	max-height: 70px;
}

.course_image {
	height:256px;
	width:256px;
	border:1px solid black;
	background-position:center top;
	background-repeat:no-repeat;
}
