@import "base";

.container {
  width: 100% !important;
}

$grey: #eee;

.navbar-inverse {
  background-color: $grey;
  border-color: $grey;
}

.logo, .logo a {
  background-image: url(/assets/OplernoLogoLarge.png);
  border: 1px solid $grey;
  background-position: center top;
  background-repeat: no-repeat;
  @include respond-to(handhelds) {
    $small: 50px;
    width: $small;
    height: $small;
    margin-left: 15px;
    background-size: $small;
  }
  @include respond-to(small-screens) {
    $medium: 50px;
    width: $medium;
    height: $medium;
    background-size: $medium;
  }
  @include respond-to(medium-screens) {
    $medium: 75px;
    width: $medium;
    height: $medium;
    background-size: $medium;
  }
  @include respond-to(wide-screens) {
    $big: 100px;
    width: $big;
    height: $big;
    background-size: $big;
  }
}

.alert {
  font-weight: bold;
  @include respond-to(handhelds) { font-size: 1.4em;}
  @include respond-to(small-screens) { font-size: 1.4em;}
  @include respond-to(medium-screens) { font-size: 1.4em;}
  @include respond-to(wide-screens) { font-size: 1.6em;}
}
#notice { color: green; }
#alert { color: red; }

.row-fluid {
  h1 {
    margin-left: 20px;
  }
  .row-fluid {
    @include respond-to(handhelds) {margin-left: -80px;}
    @include respond-to(small-screens) {margin-left: -80px;}
  }
  div {
    @include respond-to(handhelds) {margin-left: 20px;}
    @include respond-to(small-screens) {margin-left: 20px;}
  }
}

.top-fluid {
  //@include respond-to(handheld) { margin-top: 50px;}
  @include respond-to(small-screens) { font-size: 1.4em;}
  @include respond-to(medium-screens) { font-size: 1.4em;}
  @include respond-to(wide-screens) { font-size: 1.6em;}
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: static;
  @include respond-to(handhelds) { margin-bottom: 50px;}
}

.navbar-toggle {
  background-color: #333333;
  margin-right: 20px;
}
