@import "base";
@import "navbar";

.navbar .container {
  width: 100% !important;
}

body .container {
	margin: 0 auto;
}

body > .container {
  @include respond-to(handhelds) {
	}
  @include respond-to(small-screens) {
  margin-left: 0px !important;
	}
}


$grey: #eee;

.navbar-inverse {
  background-color: $grey;
  border-color: $grey;
}

.logo, .logo a {
  background-image: url(/assets/OplernoLogoLarge.png);
  border: 1px solid $grey;
  background-position: center top;
  background-repeat: no-repeat;
  @include respond-to(handhelds) {
    $small: 50px;
    width: $small;
    height: $small;
    margin-left: 15px;
    background-size: $small;
  }
  @include respond-to(small-screens) {
    $medium: 50px;
    width: $medium;
    height: $medium;
    background-size: $medium;
  }
  @include respond-to(medium-screens) {
    $medium: 75px;
    width: $medium;
    height: $medium;
    background-size: $medium;
  }
  @include respond-to(wide-screens) {
    $big: 100px;
    width: $big;
    height: $big;
    background-size: $big;
  }
}

.alert {
  font-weight: bold;
  @include respond-to(handhelds)       { font-size: 1.4em;}
  @include respond-to(small-screens)   { font-size: 1.4em;}
  @include respond-to(medium-screens)  { font-size: 1.4em;}
  @include respond-to(wide-screens)    { font-size: 1.6em;}
}
#notice { color: green; }
#alert { color: red; }

.row-fluid {
  h1, h2 {
    @include respond-to(handhelds)      { margin-left: 0px;}
    @include respond-to(small-screens)  { margin-left: 0px;}
    margin-left: 20px;
  }
  .row-fluid {
    @include respond-to(handhelds)      { margin-left: -80px;}
    @include respond-to(small-screens)  { margin-left: -80px;}
  }
  div {
    @include respond-to(handhelds)      { margin-left: -10px;}
  }
}

.top-fluid {
  //@include respond-to(handheld)      { margin-top: 50px;}
  @include respond-to(small-screens)   { font-size: 1.4em;}
  @include respond-to(medium-screens)  { font-size: 1.4em;}
  @include respond-to(wide-screens)    { font-size: 1.6em;}
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: static;
  @include respond-to(handhelds) { margin-bottom: 50px;}
}

.navbar-toggle {
  background-color: #333333;
  margin-right: 20px;
}

.nav-bar-browse {
  //@include respond-to(handheld)      { margin-top: 50px;}
  @include respond-to(small-screens)  { margin-top: 0px;margin-left:15px !important}
  @include respond-to(medium-screens)  { margin-top: 20px;}
	margin-top: 45px;
	margin-left: 45px !important;
}

$nav-shadow: 2px;

.nav-bar-settings {
	background-color: #ededed;
	border: 1px black solid;
	border-top: 0px;
	border-radius: 0 0 3% 3% / 30%;
	padding: 0px 15px;
	right: 200px;
	position:fixed;
	height: 35px;
	box-shadow: $nav-shadow $nav-shadow 0 0 #ccc;
	top: -$nav-shadow;
	li {
		a {
			padding: 5px;
			padding-top: 2px + $nav-shadow;
			@include respond-to(small-screens)  { font-size:smaller;}
			@include respond-to(medium-screens)  { font-size:smaller;}
			font-size: small;
		}
		@include respond-to(small-screens)  { font-size:smaller;}
		@include respond-to(medium-screens)  { font-size:smaller;}
		font-size: small;
	}
	@include respond-to(small-screens)  { height:30px;right:150px;}
	@include respond-to(medium-screens)  { height:30px;right:175px;}
}

.cart-button, .cart-button:hover {
	height: 50px;
	color: #fff !important;
	width: 95px;
	background-color: #d2322d !important;
	font-size: large;
	padding-left: 25px !important;
	padding-right: 25px !important;
}

// Fixing course with hacks
h1 {
	@include respond-to(handhelds)  {font-size:x-large;}
}
h2 {
	@include respond-to(handhelds)  {font-size:large;}
}
.magic_course {
	@include respond-to(handhelds)  {width:200px;}
}
