.row-fluid ul#nav {
}

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
}

#nav li{
	margin: 0 0 15px 0;	
}

#header, #intro, #second{
	width: 100%;
}

#intro{
	background:url(/assets/BG1.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 900px;
	margin: 0 auto;
	padding: 0;
}

#second{
	background: url(/assets/BG5.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#second .bg{
	background: url(http://localhost:3000/assets/OplernoLogoLarge.png) 50% 0 no-repeat fixed;
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
}

#intro > div,
#second > div,
#third > div,
#fourth > div,
#fifth > div {
	opacity: 0.9;
	text-shadow: 3px 3px 3px rgba(150, 150, 150, 1);
}

#third{
	background: url(/assets/BG2.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 650px;
	padding: 100px 0 0 0;	
}

#fifth{
	background: url(/assets/BG3.jpg) 50% 1000px no-repeat fixed;
	height: 1500px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;	
}
