%h4{:style => "font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#111;padding:0px;margin:0 0 8px;"} How did I do?
%p{:style => "padding:0px;margin:0 0 8px;"}
  %a{:href => "https://secure.teamhively.com/welcome/rate/5297/3", :target => "_blank"}
    %img{:alt => "Happy", :height => "45", :src => "https://secure.teamhively.com/images/icon-happy_45.png", :style => "border:none;font-size:9px;text-decoration:none;margin-right:15px;font-weight:bold;color:#5b723f;", :width => "41"}/
  %a{:href => "https://secure.teamhively.com/welcome/rate/5297/2", :target => "_blank"}
    %img{:alt => "Satisfied", :height => "45", :src => "https://secure.teamhively.com/images/icon-satisfied_45.png", :style => "border:none;font-size:9px;text-decoration:none;margin-right:15px;font-weight:bold;color:#0e88b6", :width => "41"}/
  %a{:href => "https://secure.teamhively.com/welcome/rate/5297/1", :target => "_blank"}
    %img{:alt => "Unhappy", :height => "45", :src => "https://secure.teamhively.com/images/icon-unhappy_45.png", :style => "border:none;font-size:9px;text-decoration:none;font-weight:bold;color:#e2644f", :width => "41"}/
%p{:style => "padding:0px;margin:0 0 8px;"}
  %a{:href => "https://secure.teamhively.com/welcome/rate/5297", :style => "font-family:Helvetica,Arial,sans-serif;font-size:12px;text-decoration:underline;font-weight:bold;color:#58A9D2;", :target => "_blank"} Click on a face to provide feedback on my performance!
