---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/users/search?slug=joshuaxls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 73ecaa957cbd8dab7ad7cffdcdb5768534f58f37ca5bdbcb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"10dd2610ade8605b979df8c2baf02971"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1848'
    body:
      encoding: UTF-8
      string: '{"name":"Joshua Slayton","id":671,"bio":"Venture Hacker @angellist.
        Previously @super-rewards, acquired by @adknowledge.","follower_count":1111,"angellist_url":"https://angel.co/joshuaxls","image":"https://d1qb2nb5cznatu.cloudfront.net/users/671-medium_jpg?1405433531","blog_url":"","online_bio_url":null,"twitter_url":"http://twitter.com/#!/joshuaxls","facebook_url":"https://www.facebook.com/joshy","linkedin_url":"https://www.linkedin.com/pub/joshua-slayton/12/267/b7b","aboutme_url":"","github_url":"","dribbble_url":"","behance_url":"","resume_url":"","what_ive_built":"","what_i_do":"I''m
        a developer at AngelList, working to bring more efficiency and access to the
        startup ecosystem.","criteria":"","locations":[{"id":1692,"tag_type":"LocationTag","name":"san
        francisco","display_name":"San Francisco","angellist_url":"https://angel.co/san-francisco"}],"roles":[{"id":14726,"tag_type":"RoleTag","name":"developer","display_name":"Developer","angellist_url":"https://angel.co/developer"},{"id":9300,"tag_type":"RoleTag","name":"angels","display_name":"Angel","angellist_url":"https://angel.co/angels"}],"skills":[{"id":58883,"tag_type":"SkillTag","name":"server
        ops","display_name":"Server Ops","angellist_url":"https://angel.co/server-ops","level":null},{"id":17184,"tag_type":"SkillTag","name":"ruby","display_name":"Ruby","angellist_url":"https://angel.co/ruby","level":null}],"investor":true}'
  recorded_at: Fri, 05 Jun 2015 23:50:13 GMT
- request:
    method: get
    uri: https://api.angel.co/1/startup_roles?user_id=671
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 73ecaa957cbd8dab7ad7cffdcdb5768534f58f37ca5bdbcb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"14761171e9043dc6a9e31aace11c9314"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1847'
    body:
      encoding: UTF-8
      string: '{"startup_roles":[{"id":1999357,"role":"past_investor","created_at":"2014-12-31T19:05:40Z","started_at":null,"ended_at":null,"title":null,"confirmed":true,"tagged":{"type":"User","name":"Joshua
        Slayton","id":671,"bio":"Venture Hacker @angellist. Previously @super-rewards,
        acquired by @adknowledge.","follower_count":1111,"angellist_url":"https://angel.co/joshuaxls","image":"https://d1qb2nb5cznatu.cloudfront.net/users/671-medium_jpg?1405433531"},"startup":{"id":469072,"hidden":false,"community_profile":false,"name":"Eaze","angellist_url":"https://angel.co/eaze","logo_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/469072-64f90a6724ffeae0326f680de18d085c-medium_jpg.jpg?buster=1408643398","thumb_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/469072-64f90a6724ffeae0326f680de18d085c-thumb_jpg.jpg?buster=1408643398","quality":7,"product_desc":"1)
        WHAT: Eaze is an on-demand healthcare delivery service that enables patients
        to access medical marijuana easily, quickly and professionally. Eaze links
        dispensaries and their drivers to patients.\n \n2) HOW: Eaze gets patients
        their medicine in about 10 minutes door to door. Patients verify their doctor\u2019s
        recommendation once online and place an order as needed. Eaze''s technology
        finds them a dispensary carrying their specific strain and dispatches a driver
        to hand deliver the medicine to their home. Patients can track their delivery
        online in real time. The service is free to patients. \n\n3) WHY: The process
        of acquiring medical marijuana is unpredictable. Verification of doctor recommendations
        can take 24 hours and has to be repeated with each order. The patient has
        to manually search multiple dispensaries for each order as medicine stock
        varies day to day. Eaze simplifies all of that so patients can focus on getting
        better -- not medicine deliveries.","high_concept":"\"Uber\" for Medical Marijuana","follower_count":249,"company_url":"http://www.eazeup.com","created_at":"2014-08-21T17:50:02Z","updated_at":"2014-10-02T19:28:10Z"}},{"id":298695,"role":"employee","created_at":"2012-08-01T21:21:23Z","started_at":"2008-05-01","ended_at":"2009-01-01","title":"Developer","confirmed":true,"tagged":{"type":"User","name":"Joshua
        Slayton","id":671,"bio":"Venture Hacker @angellist. Previously @super-rewards,
        acquired by @adknowledge.","follower_count":1111,"angellist_url":"https://angel.co/joshuaxls","image":"https://d1qb2nb5cznatu.cloudfront.net/users/671-medium_jpg?1405433531"},"startup":{"[...]
[...]
