.success.alert-message.atest
  .close×
  %span
    %h3
      Remember to Update your
      %a(href='/teachers/edit') Profile
      and
      %a(href='/courses/me') Course
    .information
      = t 'teachers.complete'
    %br
.error.alert-message.btest
  .close×
  %span
    %h3
      Remember to Update your
      %a(href='/teachers/edit') Profile
      and
      %a(href='/courses/me') Course
    .information
      = t 'teachers.complete'
      %br
