%hr
- unless user_signed_in?
  .hidden       
    #dialog(title="Sign Up or Sign In")
%footer
  .container.navbar.navbar-bottom
    %span.text-muted.credit
      &copy; Oplerno LLC. 2013-2014
    %span.text-muted
      &nbsp;|&nbsp;
      %a(href="https://plus.google.com/+Oplerno" rel="publisher") Google+
