%div{ ng: { controller: 'TopBarController' } }
  %div{ scroll: { position: 'scroll' }, ng: { class: '{smallTopbar: scroll > 50}' }, id: 'topbar' }
    %a(href="/")
      #logo
    #search
      %form(action= 'https://enroll.oplerno.com/searches' accept-charset='UTF-8' target='_new' method='post')
        %input(type='text' placeholder='I want to learn ...' name='search[term]')
        %input(type='hidden')
    %ul#left-menu
      %li.menu-item{ ng: { show: 'menu_item'} } Courses
      %li.menu-item{ ng: { show: 'menu_item' } } Instructors
    %ul#right-menu
      %li.menu-item{ ng: { show: 'menu_item' } } Canvas
      %li.menu-item{ ng: { show: 'menu_item' } } About
    %button#cart{ ng: { controller: 'CartButtonController' } }
      .cart-number {{items}}
      .glyphicon.glyphicon-shopping-cart
      .cart-price ${{price}}
#top-bar-overflow
#alert-bar= alert
