<div id="modal-dialog" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>

        <h3><%= t('modal.popup.sure') %></h3>
      </div>
      <div class="modal-body">
        <p><%= t('modal.popup.discard') %></p>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" id="btnConfirm" class="btn confirm"><%= t('modal.popup.ok') %></a>
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary"><%= t('modal.popup.cancel') %></a>
      </div>
    </div>
  </div>
</div>
